@font-face {
    font-family: "Contrax";
    src: url("../Fonts/Contrax.otf");
}
.cardRaidDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Contrax";
    text-align: center;
    height: 10vh;
    width: 15vw;
    color: white;
    background-color: rgb(28, 28, 28);
    border-radius: 1em;
    margin: 0.5vw;
    transition: 0.3s;
    cursor: pointer;
}

.cardRaidDesign:hover {
    height: 11vh;
    width: 16vw;
    transition: 0.3s;
    color: #a929f7;
    margin: 0;
}
@media only screen and (max-width: 820px) {
    .cardRaidDesign {
        width: 18vw;
        font-size: smaller;
    }
}
@media only screen and (max-width: 820px) {
    .cardRaidDesign:hover {
        width: 19vw;
        font-size: smaller;
    }
}
@media only screen and (max-width: 768px) {
    .cardRaidDesign {
        font-size: smaller;
    }
}
@media only screen and (max-width: 412px) {
    .cardRaidDesign {
        font-size: 0.6em;
        width: 30vw;
        height: 7vh;
    }
}
@media only screen and (max-width: 412px) {
    .cardRaidDesign:hover {
        font-size: 0.6em;
        width: 31vw;
        height: 8vh;
    }
}