@font-face {
    font-family: "Contrax";
    src: url("../Fonts/Contrax.otf");
}

.homeDesign {
    padding-top: 10vh;
    background-image: url(./wallpaper.jpg);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(28, 28, 28);
    color: white;
}

.bannerHome {
    display: flex;
    width: 100vw;
}

.textBox {
    font-family: "Contrax";
    text-align: center;
    margin-top: 20px;
    width: 60vw;
    padding: 5vw;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .textBox {
        margin-top: 20px;
        padding-top: 5vw;
        padding-bottom: 5vw;
        width: 50vw;
        font-size: smaller;
    }
}