@font-face {
    font-family: "Contrax";
    src: url("../Fonts/Contrax.otf");
}

.inputDesign {
    font-family: "Contrax";
    width: 28em;
    height: 2em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
    color: black;
}

.inputDesignError {
    border: 0.2em solid red;
}

@media only screen and (max-width: 412px) {
    .inputDesign {
        font-size: 0.8em;
        width: 18em;
    }
}