@font-face {
    font-family: "Contrax";
    src: url("../Fonts/Contrax.otf");
}

.inputDesign {
    font-family: "Contrax";
    width: 28em;
    height: 2em;
    border-radius: 1em;
    margin: 0.5em;
    text-align: center;
    color: white;
}

.inputDesignError {
    border: 0.2em solid red;
}