@font-face {
    font-family: "Contrax";
    src: url("../Fonts/Contrax.otf");
}

.headerDesign {
    top: 0%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: rgb(28, 28, 28);
}

.headerLinksDesign {
    height: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
@media only screen and (max-width: 1400px) {
    .headerLinksDesign {
        flex-direction: column;
        font-size: 0.5em;
    }
}

.logoDesignHeader {
    height: 10vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesDesignHeader {
    height: 10vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesText {
    font-family: 'Contrax';
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-size: 2em;
    margin-top: 0.5em;
    margin-right: 3em;
}

@media only screen and (max-width: 600px) {
    .servicesText {
        font-size: 1em;
    }
}

.servicesText:hover {
    color: #a929f7
}

.homeAvatar {
    height: 8vh;
}

.linkDesign {
    font-family: 'Contrax';
    font-weight: bolder;
    color: white;
    cursor: pointer;
    font-size: 2em;
    margin-top: 0.5em;
    margin-right: 3em;
}
.linkDesign:hover {
    color: #a929f7
}