@font-face {
    font-family: "Contrax";
    src: url("../Fonts/Contrax.otf");
}

.profileDesign {
    text-align: center;
    color: white;
    font-family: 'Contrax';
    padding-top: 10vw;
    height: 100vh;
    /* width: 100vw; */
    background-color: rgb(28, 28, 28);
}

.titleText {
    font-size: 2em;
    padding: 0.5em;
    color: #a929f7;
}

.mplusTable {
    padding-top: 1em;
    border-collapse: collapse;
    width: 100vw;
}


.titletableText {
    font-size: 2em;
    color: #a929f7;
    text-align: center;
}

.rosterDesign {
    border: 3px solid #a929f7;
    margin: 0 auto;
}
@media only screen and (max-width: 1150px) {
    .rosterDesign {
        font-size: 0.6em;
        width: 50vw;
    }
}
@media only screen and (max-width: 600px) {
    .rosterDesign {
        font-size: 0.4em;
        width: 40vw;
    }
}

th,
td {
    padding: 1em;
}